* {
  padding: 0;
  margin: 0;
  font-family: Helvetica,Arial,sans-serif;
  box-sizing: border-box;
  font-size: 14px;
}


.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

/* login */
.login {
  width: calc(100vh / 1.5);
  min-height: 100vh;
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
}

.login >img {
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
   align-items: center;
}

.login > .form > form > label {
  color: #cdcdcd;
}

.login > .form > form > input {
  box-shadow: 2px 11px 15px 1px rgba(221, 170, 170, 0.06);
  -webkit-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.06);
  -moz-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.06);
  width: 60%;
  height: 35px;
  border: none;
  border-radius: 10px;
  padding: 5px;
}

.login > .form > form > #submit {
  width: 30%;
  box-shadow: -1px 0px 0px 3px rgba(0,0,0,0.07);
  -webkit-box-shadow: -1px 0px 0px 3px rgba(0,0,0,0.07);
  -moz-box-shadow: -1px 0px 0px 3px rgba(0,0,0,0.07);
  background: white;
  font-weight: bold;
  margin-top: 1em;
}

.login > img {
  width: 70%;
}
/* end of login */


/* home */
.home {
  width: calc(100vh / 1.5);
  min-height: 100vh;
  background: #f7f8fa;
  display: flex;
  flex-direction: column;
}

.home > .header {
  height: auto;
  background: white;
  padding: 0 0.5em;
}

.home > .header > img {
  height: 50px;
}

.home > .card-container {
  background-image: url('./img/motif.png');
  background-size: cover;
  height: 30%;
  background-color: white;
  background-repeat: repeat;
}

.home > .card-container > .card {
  height: 80%;
  width: 90%;
  background: white;
  margin: 5%;
  box-shadow: 2px 11px 15px 1px rgba(221, 170, 170, 0.06);
  -webkit-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.06);
  -moz-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.06);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  border-radius: 10px;
}

.home > .card-container > .card > .saldo > .qrcode {
  width: 15%;
  height: 100%;
  background: white;
  padding: 7px;
  box-shadow: 2px 11px 15px 1px rgba(136, 84, 84, 0.20);
  -webkit-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 2px 11px 15px 1px rgba(0,0,0,0.20);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  margin-right: 10%;
}


.home > .card-container > .card > .saldo > .qrcode > img {
  margin: auto;
  width: 90%;
}

.home > .card-container > .card > .saldo > .saldo-info {
  display: inline-block;
}

.home > .card-container > .card > .saldo > .saldo-value {
  float: right;
  text-align: right;
}
/* end of home */

/* reference: https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: white;
}
.modal-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  color: black;
  font-size: 2em;
  top: 0;
  right: 0;
  padding: 0.3em;;
  cursor: pointer;
}
/* end of modal */

/* banner */
.home > .banner >img {
  width: 100%;
}

.banner-btn {
  width: 7px;
  height: 7px;
  background: #d7d2cb;
  border: none;
  border-radius: 50%;
  margin: 0.2em;
}

.active {
  background: #3d3935;
}

.button-container {
  display: flex;
  justify-content: space-between;
  padding: 0.2em 1em 1em 1em;
  background: white;
}
/* end of banner */

.bottombar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: fixed;
  bottom: 0;
  background: white;
  box-shadow: -2px -5px 14px 0px rgba(0,0,0,0.07);
  -webkit-box-shadow: -2px -5px 14px 0px rgba(0,0,0,0.07);
  -moz-box-shadow: -2px -5px 14px 0px rgba(0,0,0,0.07);
}

.bottombar img {
  width: 20px;
}